@model DNP1_assignment.Models.Movie;

<html xmlns="http://www.w3.orq/1999/xhtml">
<head>
    <b>som paaan</b>
    <title>@Model.Name</title>
</head>
<body>
    <dl>
        <dt><b>ID</b></dt>
        <dd>@Model.Id</dd>
    </dl>

    <dl>
        <dt><b>Name</b></dt>
        <dd>@Model.Name</dd>
    </dl>

    <dl>
        <dt><b>Release date</b></dt>
        <dd>@Model.releaseDate</dd>
    </dl>

    <dl>
        <dt><b>length</b></dt>
        <dd>@Model.length</dd>
    </dl>

</body>


</html>

