@model DNP1_assignment.Models.Performance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subtitles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
